<div id="wrapper" class="toggled">
<app-navbar></app-navbar>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-open" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container-fluid container-body px-5">
      <!-- <img *ngIf="img" src="assets/img/cerseu.jpeg" alt="" width="400" height="300"> -->
      <router-outlet>
      </router-outlet>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
